﻿<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Admin</title>

    <!-- <script src="~/lib/jquery/dist/jquery.min.js"></script> -->
    <script src="~/vendors/base/vendor.bundle.base.js"></script>
    <script src="https://kit.fontawesome.com/f94a81fe3b.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/base/vendor.bundle.base.css">
    <link rel="shortcut icon" href="~/images/favicon.png" />
    <link rel="stylesheet" href="~/css/style.css">
  
    <!-- Year Picker CSS -->
    <link rel="stylesheet" href="~/css/yearpicker.css" />
    <link rel="stylesheet" href="~/css/bootstrap-datepicker.min.css" />

    <!-- include summernote css/js -->
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

    <link href="~/css/tagsinput.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/vendors/dropzone-5.7.0/dist/min/basic.min.css"/>
    <link href="~/vendors/dropzone-5.7.0/dist/dropzone.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/css/custom.css">

</head>

<body>
<div class="dialog-background" id="loading">
    <div class="dialog-loading-wrapper">
        <span class="dialog-loading-icon">
            <img src="~/images/loading2.gif">           
        </span>
    </div>
</div>
   
   
    <div class="container-scroller">

        <partial name="_Navbar" />
        <div class="container-fluid page-body-wrapper">

            <!-- partial:partials/_sidebar.html -->
            <partial name="_Sidebar" />
            <!-- partial -->
            <div class="main-panel" id="mask">
                <div class="content-wrapper" style="background-color:#F8F8FF">
                    <main role="main" class="pb-3">
                  
                        @RenderBody()
                    </main>
                </div>
                <partial name="_Footer" />

            </div>

        </div>



      
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
            
        <!-- Moment Js -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
        <!-- Year Picker Js -->
        <script src="~/js/yearpicker.js"></script>
        <script src="~/js/bootstrap-datepicker.min.js"></script>
        <script src="~/js/off-canvas.js"></script>
        <script src="~/js/hoverable-collapse.js"></script>

        <script src="~/js/todolist.js"></script>
        <script src="~/js/dashboard.js"></script>
        <script src="~/js/template.js"></script>        

        <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-analytics.js"></script>
        <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-storage.js"></script>

        <script src="~/js/tagsinput.js"></script>
        <script src="~/vendors/dropzone-5.7.0/dist/dropzone.js"></script>


          
     
        <!-- <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.19/lodash.min.js"></script> -->
        <script>
            // Your web app's Firebase configuration
            // var firebaseConfig = {
            //     apiKey: "AIzaSyB9Eigcvz3ailS1LW0Fz_H1RVYjP_ZgfsA",
            //     authDomain: "tnb-cma-app-dev.firebaseapp.com",
            //     databaseURL: "https://tnb-cma-app-dev.firebaseio.com",
            //     projectId: "tnb-cma-app-dev",
            //     storageBucket: "tnb-cma-app-dev.appspot.com",
            //     messagingSenderId: "1046620154334",
            //     appId: "1:1046620154334:web:64e4960f550617a323954f",
            //     measurementId: "G-E2K7EBRSR7"
            // };

            var firebaseConfig = {
                    apiKey: "AIzaSyCCK6FDOECfg91vcB3g-9O1bmO5oQIOL2s",
                    authDomain: "tnb-internal-app-119c5.firebaseapp.com",
                    databaseURL: "https://tnb-internal-app-119c5.firebaseio.com",
                    projectId: "tnb-internal-app-119c5",
                    storageBucket: "tnb-internal-app-119c5.appspot.com",
                    messagingSenderId: "534591311891",
                    appId: "1:534591311891:web:57245ca4d993ee83556fe6"
                };
            // Initialize Firebase
            firebase.initializeApp(firebaseConfig);
      

            //formating the json date
            function formatDate(date) {
                var d = new Date(date),
                    month = '' + (d.getMonth() + 1),
                    day = '' + d.getDate(),
                    year = d.getFullYear();

                if (month.length < 2)
                    month = '0' + month;
                if (day.length < 2)
                    day = '0' + day;

                return [day, month, year].join('.');
            }

             $("#loading").hide();
             $('main').removeClass('blur');

             $('#content').summernote({
                    placeholder: 'Write Your Content Here',
                    tabsize: 2,
                    height: 300,
                                   
                     codemirror: { // codemirror options
                     theme: 'monokai'
                 }
                });
        </script>

        @RenderSection("Scripts", required: false)

</body>

</html>