﻿<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Home Page</title>

    <script src="~/lib/base/vendor.bundle.base.js"></script>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" type="" href="/fonts/FontAwesome/css/all.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/custom.css">

    <link rel="shortcut icon" href="/images/favicon.png" />

</head>

<body>
    <div class="img-gradient"></div>
    <div class="login-wrapper container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0 ">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">\
                       
                            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                                <div class="brand-logo">
                                    <div class="row">
                                        <div class="col-md-2 pr-o mr-0">
                                            <img src="/images/logo1.png" alt="logo">
                                        </div>
                                        <div class="col-md-9 align-self-end ml-3">
                                            <h4
                                                style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; letter-spacing:.5px;text-transform:uppercase">
                                                GHR News Portal
                                            </h4>
                                        </div>
                                    </div>
                            
                                </div>
                                <h4>Hello! let's get started</h4>
                                <h6 class="font-weight-light">Sign in to continue </h6>
                                @RenderBody()
                            </div>
                         
                     
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    </div>

    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/template.js"></script>
    <script src="/js/todolist.js"></script>
    @RenderSection("Scripts", required: false)

</body>

</html>