﻿

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <!-- <li class="nav-item">
            <a class="nav-link" id="dashboard">
                <i class="mr-2 fas fa-tachometer-alt "></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>      -->
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index">
                <i class="mr-2 fas fa-user"></i>
                <span class="menu-title">Manage Profile</span>
            </a>
        
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-page="/AddNews" id="manage">
            <i class="far fa-newspaper pr-2"></i>
                <span class="menu-title">Manage News</span>
            </a>
        </li>  
        <li class="nav-item">
            <a class="nav-link" asp-page="/NewsList" id="list">
            <i class="fas fa-list pr-2   "></i>
                <span class="menu-title">News List</span>
            </a>
        </li>
      
        <!-- <li class="nav-item">
            <a class="nav-link" id="view">
                <i class="mr-2 fas fa-tasks"></i>
                <span class="menu-title">Setting</span>
            </a>
        </li> -->
    </ul>
</nav>

