﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Pages/Shared/_Layout_notLogin.cshtml";
}



<div class="row">

    <div class="col-md-12 mt-4">

        <section>
            <form id="account" method="post">
                <quote>Use a local account to log in.</quote>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary ls-2">Log in</button>
                    <a type="submit" class="btn btn-outline-secondary" asp-page="/Index">Back </a>
                </div>
                <div class="form-group">
                    <p>
                        <a class="text-linkedin" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>

                    <p>
                        <a class="text-linkedin" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
                    </p>
                </div>
            </form>
        </section>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
