﻿@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
    Layout = "~/Pages/Shared/_Layout_logout.cshtml";
}




<div class="row mt-5">
    <div class="col-md-12 ">
        <div class="alert alert-success" role="alert">
            <h2>@ViewData["Title"]</h2>
            <hr>
            @{
                if (@Model.DisplayConfirmAccountLink)
                {
                    <p>
                        This app does not currently have a real email sender registered, see <a href="https://aka.ms/aspaccountconf">
                            these
                            docs
                        </a> for how to configure a real email sender.
                        Normally this would be emailed: <a id="confirm-link" href="@Model.EmailConfirmationUrl">
                            Click here to
                            confirm your
                            account
                        </a>
                    </p>
                }
                else
                {
                    <p>
                        Please check your email to confirm your account.
                    </p>
                }
            }
        </div>

    </div>
</div>
