﻿@page
@model News_WebPortal.Pages.NewsListModel
@{
}

<div class="card">
    <div class="card-body ">
        <h4 class="card-title">News List</h4>
        </p>
        <div class="table-responsive">
            <table class="table text-left" id="mytable" style="visibility:hidden ">
                <thead class="table-dark text-uppercase">
                    <tr role="row">
                        <th role="columnheader">Title </th>                      
                        <th role="columnheader">pos category </th>
                        <th role="columnheader"> Likes <i class="fa fa-thumbs-up text-behance" aria-hidden="true"></i></th>
                        <th role="columnheader"> poster name</th>
                        <th role="columnheader"> post date</th>
                        <th role="columnheader">Action</th>
                    </tr>
                </thead>
                <tbody role="rowgroup">
                </tbody>
            </table>
        </div>
    </div>
</div>


@section Scripts {
    <script>
    $(document).ready(function () {

        GetAllNews();

        function GetAllNews() {
            const proxyurl = "https://cors-anywhere.herokuapp.com/";
            const url = "https://hshq3zt9ij.execute-api.ap-southeast-1.amazonaws.com/Prod/api/NewsPostAdmin"; // site that doesn’t send Access-Control-*
            const myurl = proxyurl + url;
            var list = new Array;
            $("#loading").show();
            $('main').addClass('blur');
            fetch(myurl, {
                cache: "no-cache",
                method: 'GET',
                headers: { 'Content-Type': 'application/json', },

            })
                .then(response => response.json())
                .then(function (data) {
                     $("#loading").hide();
                    $('main').removeClass('blur');
                    console.log("News list:");
                    console.log(data);


                    //localStorage.setItem('workScheduledId' + workScheduledId, true);

                    var x = document.getElementById("mytable");
                    x.style.visibility = "visible";

                    var items = [];
                    list.length = 0;
                    list.push(items);
                    $("#tableRow").remove();
                    $.each(data, function (key, val) {
                        console.log(val.id);
                          $("#idnews").val(val.id);


                        list.push("<tr>");
                        list.push("<td width'20%'  class='font-weight-bold text-wrap' id='" + key + "'>" + val.title + "</td>");                     
                        list.push("<td  class='' id='" + key + "'>" + val.postcategory + "</td>");
                        list.push("<td  class='' id='" + key + "'>" + val.numberoflikes + "</td>");
                        list.push("<td  class='' id='" + key + "'> " + val.originalpostername + "</td>");
                        list.push("<td  class='' id='" + key + "'> " + val.originalpostdateFormatted + "</td>");
                       list.push("<td  class='' id='" + key + "'> <button class='btn btn-success btn_view' id='" + val.id + "' data-id='" + val.id + "'>View News</button></td>");

                        list.push("</tr>");


                    });

                    $("<tbody/>", {
                        "class": "",
                        "id": "tableRow",
                        html: list.join("")
                    }).appendTo("#mytable");

                   $(".btn_view").click(function () {
                        
                        var id = $(this).data('id');
                        if (id) {
                            window.location = '/ViewNews?id=' + id;
                        }

                    });


                })
                .catch(function (error) {
                    // If there is any error you will catch them here
                    console.log(error);
                });
        }


    });
    </script>
}                                                                                                                                      