﻿@page
@model News_WebPortal.Pages.UploadFirebaseModel
@{
}

<h2>Upload to firebase</h2>





<div class="container py-5">

    <!-- For demo purpose -->
    <header class="text-dark text-center">
        <h1 class="display-4">Bootstrap image upload</h1>
        <p class="lead mb-0">Build a simple image upload button using Bootstrap 4.</p>
        <p class="mb-5 font-weight-light">Snippet by
            <a href="https://bootstrapious.com" class="text-white">
                <u>Bootstrapious</u>
            </a>
        </p>
        <img src="https://res.cloudinary.com/mhmd/image/upload/v1564991372/image_pxlho1.svg" alt="" width="150"
            class="mb-4">
    </header>


    <div class="row py-4">
        <div class="col-lg-6 mx-auto">

            <!-- Upload image input-->
            <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                <!-- <input type="file"  class="form-control border-0" id="files"> -->
                <input id="upload" type="file" class="form-control border-0">
                <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                <div class="input-group-append">
                    <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i
                            class="fa fa-cloud-upload mr-2 text-muted"></i><small
                            class="text-uppercase font-weight-bold text-muted">Choose file</small></label>
                </div>
            </div>

            <button id="send" class="btn btn-behance">Upload</button>
            <p id="uploading"></p>

          

            <!-- Uploaded image area-->
            <p class="font-italic text-dark text-center">The image uploaded will be rendered inside the box
                below.</p>
               
                <div class="progress bg-gradient-light"  id="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
           
           
            <div class="image-area mt-4 text-center">
                <img id="imageResult" src="~/images/bg.jpg" alt="" class="img-fluid rounded shadow-sm mx-auto d-block">
            </div>
        </div>
    </div>
</div>



@section Scripts {

<script type="text/javascript" language="JavaScript">

    var files = [];
        document.getElementById("upload").addEventListener("change", function (e) {
            files = e.target.files;
            for (let i = 0; i < files.length; i++) {
                console.log(files[i]);
            }
        });

        document.getElementById("send").addEventListener("click", function () {
            //checks if files are selected
            if (files.length != 0) {
                //Loops through all the selected files
                for (let i = 0; i < files.length; i++) {
                    //create a storage reference
                    var storage = firebase.storage().ref(files[i].name);

                    //upload file
                    var upload = storage.put(files[i]);

                    //update progress bar
                    upload.on(
                        "state_changed",
                        function progress(snapshot) {
                            var percentage =
                                (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                            document.getElementById("progress").value = percentage;
                            $('.progress-bar').css('width', percentage + '%').attr('aria-valuenow', percentage);                             
                        },

                        function error() {
                            alert("error uploading file");
                        },

                        function complete() {
                            getFileUrl(files[i].name);
                            document.getElementById(
                                "uploading"
                            ).innerHTML += `${files[i].name} upoaded <br />`;
                            
                        }
                    );
                }
            } else {
                alert("No file chosen");
            }
        });

    /*  ==========================================
         SHOW UPLOADED IMAGE NAME
     * ========================================== */
        function getFileUrl(filename) {

            // setup firebase storage 
            //................................
            var storage = firebase.storage();
            var storageRef = storage.ref();
            var starsRef;
            //................................

             refPath = storage.ref('news/' + filename);
            //create a storage reference
            //var storage = firebase.storage().ref(filename);

            //get file url
            refPath
                .getDownloadURL()
                .then(function (url) {
                    console.log(url);
                    //alert(url);
                    document.getElementById('imageResult').src = url; 

                })
                .catch(function (error) {
                    console.log("error encountered");
                });
        }





   
   
</script>

}