﻿@page
@model News_WebPortal.Pages.ViewNewsModel
@{
}


<div class="card card-noshadow p-2">
  <div class="card-title">

  </div>
  <div class="card-body">

    <div class="row">
      <div class="col-md-9">

        <h4 class="card-title ls-1 font-weight-bold font">TITLE</h4>
        <div class="form-row">
          <div class="col-12">
            <input type="text" class="form-control form-control-lg article-title" placeholder="Add Title" disabled id="title">
          </div>
        </div>


        <div class="card mb-0 content-card mt-4">
          <div id="Content" class="accordion mt-4" style="background-color: aliceblue;margin:20px; border-radius:15px">
            <div class="card-header" data-toggle="collapse" href="#collapseOne" aria-expanded="true">
              <a class="card-title">
                Content Text
              </a>
            </div>

            <div id="collapseOne" class="card-body" aria-expanded="true" data-parent="#Content">

              <div id="content"></div>
            </div>
          </div>
          <div id="Featured" class="accordion mt-4 "
            style="background-color: aliceblue;margin:20px; border-radius:15px">
            <div class="card-header" data-toggle="collapse" href="#collapseTwo" aria-expanded="true">
              <a class="card-title">
                Featured Image
              </a>
            </div>
            <div id="collapseTwo" class="card-body" aria-expanded="true" data-parent="#Thumbnail">
              <div class="row">
                <div class="col-md-12">


                  <div class="row py-4">

                    <div class="col-lg-6 mx-auto">

                      <!-- Upload image input-->
                      <div class="input-group mb-3 px-2 py-2 rounded-pill bg-white shadow-sm">
                        <!-- <input type="file"  class="form-control border-0" id="files"> -->
                        <input id="upload" type="file" class="form-control border-0">
                        <label id="upload-label" for="upload" class="font-weight-light text-muted">Choose file</label>
                        <div class="input-group-append">
                          <label for="upload" class="btn btn-light m-0 rounded-pill px-4"> <i
                              class="fa fa-cloud-upload mr-2 text-muted"></i><small
                              class="text-uppercase font-weight-bold text-muted">Choose
                              file</small></label>
                        </div>
                      </div>

                      <div class="col-md-12 text-center">
                        <button id="send" class="btn btn-primary">UPLOAD <i class="fa fa-cloud-upload ml-2"
                            aria-hidden="true"></i></button>
                        <p id="uploading"></p>
                      </div>


                      <!-- Uploaded image area-->
                      <p class="font-italic text-dark text-center">The image uploaded will be
                        rendered inside the box
                        below.</p>

                      <div class="progress bg-gradient-light" id="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                          aria-valuemax="100"></div>
                      </div>

                      <div class="image-area mt-4 text-center"><img id="imageResult" src="#" alt=""
                          class="img-fluid rounded shadow-sm mx-auto d-block"></div>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div id="tags" class="accordion mt-4 " style="background-color: aliceblue;margin:20px; border-radius:15px">

            <div class="card-header" data-toggle="collapse" href="#collapseThree" aria-expanded="true">
              <a class="card-title">
                Keywords
              </a>
            </div>
            <div id="collapseThree" class="card-body" aria-expanded="true" data-parent="#tags">

              <input id="keywords" type="text" data-role="tagsinput" value="">

            </div>

          </div>


        </div>
      </div>

      <div class="col-md-3 right-side-content">


        <div class="row mt-5 text-center">
          <div class="col-md-12">
            <h5 class="text-muted"> Publish Your Article</h5>
            <p class="text-secondary"> This Article will go live once you click Go Live button</p>
            <button type="button" class="btn btn-behance" id="publish-btn"> <i class="fa fa-globe pr-2"
                aria-hidden="true"></i>
              Go Live</button>
          </div>

          <div class="col-md-12 mt-4">
            <h5 class="text-muted"> Save your draft </h5>
            <p class="text-secondary"> This Article will be saved as a draft</p>
            <button type="button" class="btn btn-twitter" id="save-btn"> <i class="fa fa-save pr-2"
                aria-hidden="true"></i>
              Save As Draft</button>
          </div>

        </div>
        <hr class="mt-5 pt-5">
        <div class="row ">
          <div class="col-md-12 text-center">
            <h4 class="ls-1 pb-3"> Article Preview </h4>
          </div>

          <div class="card  pb-2 card-news-preview">
            <img class="card-img" id="preview-image" src="~/images/add_image.png" alt="">
            <div class="card-body pr-0">
              <p class="text-capitalize article-title" id="myTitle">Article Title</p>
              <div class="forum-content">
                <div class="card-text text-secondary comments-space" id="myContent">Your content description will be
                  display
                  here . Please
                  make
                  sure to double check your contant and check for spelling mistake before you publish your
                  article.</div>
              </div>

            </div>
            <div class="card-footer text-muted d-flex justify-content-between bg-transparent border-top-0">
              <small class="text-muted ">
                <span id="myAthour">Author Name</span> <span class="news-footer-divider">|</span>
                30 Minutes Ago <span class="news-footer-divider">|</span>
                <i class="fas fa-thumbs-up pr-2 fa-lg " aria-hidden="true"></i> <span
                  style="font-size: 1rem; font-weight:500;">0</span>
                <i class="fas fa-retweet pl-2 fa-lg text-info " aria-hidden="true"></i>


              </small>


            </div>
          </div>
        </div>

      </div>


    </div>

  </div>


</div>

@section Scripts {
@{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript" language="JavaScript">


  $(document).ready(function () {
    const proxyurl = "https://cors-anywhere.herokuapp.com/";

    //1.get worksheduleid
    var id = getUrlVars()["id"];
    console.log("news id: " + id);

    GetAllSubmission();

    function getUrlVars() {
      var vars = {};
      var parts = window.location.href.replace(/[?&]+([^=&]+)=([^&]*)/gi, function (m, key, value) {
        vars[key] = value;
      });
      return vars;
    }

    function GetAllSubmission() {

      const url = "https://hshq3zt9ij.execute-api.ap-southeast-1.amazonaws.com/Prod/api/NewsPostAdmin/" + id;
      const myurl = proxyurl + url;
      var list = new Array;


      $("#loading").show();
      $('main').addClass('blur');
      fetch(myurl, {
        //mode: 'no-cors', // 'cors' by default
        cache: "no-cache",
        method: 'GET',
        headers: { 'Content-Type': 'application/json', },
      })
        .then(response => response.json())
        .then(function (data) {
          console.log(data);
          $("#loading").hide();
          $('main').removeClass('blur');

          var items = [];
          list.length = 0;
          list.push(items);
          // $("#tableRow").remove();
          $.each(data, function (key, val) {
            $("#title").val(val.title);
            $('#content').summernote('editor.insertText', val.postcontent);
            $('#content').next().find(".note-editable").attr("contenteditable", false);
            $('#imageResult').attr("src", val.featuredpicture);
            $('#preview-image').attr("src", val.featuredpicture);

            //preview
            $('#myTitle').html(val.title);
            $('#myContent').html(val.postcontent);
            newsPreview();
          });





        })
        .catch(function (error) {
          // If there is any error you will catch them here
          console.log(error);
        });
    }

    function newsPreview() {


      var showChar = 200;
      var ellipsestext = "...";
      var moretext = "See More";
      var lesstext = "See Less";
      $('.comments-space').each(function () {
        var content = $(this).html();
        if (content.length > showChar) {
          var show_content = content.substr(0, showChar);
          var hide_content = content.substr(showChar, content.length - showChar);
          var html = show_content + '<span class="moreelipses">' + ellipsestext + '</span><span class="remaining-content"><span>' + hide_content + '</span>&nbsp;&nbsp;<a href="" class="morelink">' + moretext + '</a></span>';
          $(this).html(html);
        }
      });

      $(".morelink").click(function () {
        if ($(this).hasClass("less")) {
          $(this).removeClass("less");
          $(this).html(moretext);
        } else {
          $(this).addClass("less");
          $(this).html(lesstext);
        }
        $(this).parent().prev().toggle();
        $(this).prev().toggle();
        return false;
      });
    }


  });

</script>
}